<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="margin: auto; background: none; display: block; shape-rendering: auto"
  width="224px"
  height="224px"
  viewBox="0 0 100 100"
  preserveAspectRatio="xMidYMid">
  <g transform="translate(12.5 50)">
    <circle cx="0" cy="0" r="3" fill="#0ffffb">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.4243281471004243s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(25 50)">
    <circle cx="0" cy="0" r="3" fill="#3a9a9a">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.3536067892503536s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(37.5 50)">
    <circle cx="0" cy="0" r="3" fill="#ff00ff">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.2828854314002829s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(50 50)">
    <circle cx="0" cy="0" r="3" fill="#8d00c4">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.21216407355021216s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(62.5 50)">
    <circle cx="0" cy="0" r="3" fill="#0ffffb">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.14144271570014144s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(75 50)">
    <circle cx="0" cy="0" r="3" fill="#3a9a9a">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="-0.07072135785007072s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <g transform="translate(87.5 50)">
    <circle cx="0" cy="0" r="3" fill="#ff00ff">
      <animateTransform
        attributeName="transform"
        type="scale"
        begin="0s"
        calcMode="spline"
        keySplines="0.3 0 0.7 1;0.3 0 0.7 1"
        values="0;1;0"
        keyTimes="0;0.5;1"
        dur="0.9900990099009901s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </g>
  <!-- [ldio] generated by https://loading.io/ -->
</svg>
